In [1]:
import pandas as pd

In [2]:
import os
os.chdir('C:\\Users\\User\\assignment')

In [3]:
os.getcwd()

'C:\\Users\\User\\assignment'

In [4]:
df1=pd.read_csv('Bitcoin_clean_1.csv')
df2=pd.read_csv('Bitcoin_News_Sen_Value.csv')
df3=pd.read_csv('Bitcoin_Tweet_Volume.csv')
df4=pd.read_csv('Google_Trend.csv')
df5=pd.read_csv('Reddit_commentsPerDay.csv')

In [5]:
df1.head()

,Date,AdrActCnt,BlkSizeByte,BlkSizeMeanByte,FeeMedNtv,FeeTotUSD,IssTotNtv,NVTAdj,NVTAdj90,PriceUSD,...,ROI30d,SplyCur,TxCnt,TxTfrValAdjNtv,TxTfrValMedNtv,TxTfrValUSD,VtyDayRet180d,VtyDayRet30d,Price_Diff,Price_dir
0,11/21/2018,620393,127343375,1.212794e+06,0.000098,221855.7721,1312.5,49.309388,55.932350,4549.322010,...,-29.005959,17387392.33,256543,352618.2961,0.013118,3371251524,0.031536,0.040199,#VALUE!,#VALUE!
1,11/22/2018,653846,148508508,1.217283e+06,0.000077,170664.9699,1525.0,63.288258,53.008054,4303.615549,...,-32.713824,17388917.33,264718,274757.4023,0.010456,2638013667,0.031771,0.040946,-245.706461,0
2,11/23/2018,624434,139939746,1.119518e+06,0.000071,154185.5404,1562.5,58.988501,52.797537,4289.892853,...,-33.114684,17390479.83,273038,294811.3559,0.010442,2811164263,0.031769,0.040880,-13.722696,0
3,11/24/2018,578522,141069772,9.865019e+05,0.000059,119386.3673,1787.5,80.179381,46.856068,3806.316925,...,-40.547895,17392267.33,251955,216916.9575,0.011234,1945253851,0.032870,0.045160,-483.575928,0
4,11/25/2018,577253,129208859,1.017393e+06,0.000063,129629.6491,1587.5,62.170688,48.859760,3946.850874,...,-38.370019,17393854.83,241502,279775.8133,0.012799,2433588296,0.032787,0.046112,140.533949,1

In [6]:
df2.head()

         Date  polarity  Vader_neg  Vader_neu  Vader_pos  Vader_compound
0  11/21/2018  0.001448   0.030468   0.902085   0.067447        0.037696
1  11/22/2018  0.016041   0.086000   0.858795   0.055179       -0.024969
2  11/23/2018  0.012413   0.117583   0.782167   0.100250       -0.083875
3  11/24/2018  0.108333   0.044667   0.916000   0.039333       -0.005811
4  11/25/2018 -0.034596   0.071273   0.834091   0.094636        0.009718

In [7]:
merged_left = pd.merge(left=df1,right=df2, how='left', left_on='Date', right_on='Date')

In [10]:
merged_left_2= pd.merge(left=merged_left,right=df3, how='left', left_on='Date', right_on='Date')

In [13]:
merged_left_3= pd.merge(left=merged_left_2,right=df4, how='left', left_on='Date', right_on='Date')

In [14]:
merged_left_4= pd.merge(left=merged_left_3,right=df5, how='left', left_on='Date', right_on='Date')

In [15]:
merged_left_4.head()

,Date,AdrActCnt,BlkSizeByte,BlkSizeMeanByte,FeeMedNtv,FeeTotUSD,IssTotNtv,NVTAdj,NVTAdj90,PriceUSD,...,Vader_compound,Btc_Tweet_Count,BTC_Diff,Tweet_Dir,Google_Trend,Google_Diff,Goo_T_Dir,commentsPerDay,comment_dif,Reddit_dir
0,11/21/2018,620393,127343375,1.212794e+06,0.000098,221855.7721,1312.5,49.309388,55.932350,4549.322010,...,0.037696,30984.0,#VALUE!,#VALUE!,26,Na,Na,4292.0,#VALUE!,#VALUE!
1,11/22/2018,653846,148508508,1.217283e+06,0.000077,170664.9699,1525.0,63.288258,53.008054,4303.615549,...,-0.024969,27754.0,-3230,0,19,-7,0,2757.0,-1535,0
2,11/23/2018,624434,139939746,1.119518e+06,0.000071,154185.5404,1562.5,58.988501,52.797537,4289.892853,...,-0.083875,26345.0,-1409,0,20,1,1,2385.0,-372,0
3,11/24/2018,578522,141069772,9.865019e+05,0.000059,119386.3673,1787.5,80.179381,46.856068,3806.316925,...,-0.005811,22902.0,-3443,0,18,-2,0,2441.0,56,1
4,11/25/2018,577253,129208859,1.017393e+06,0.000063,129629.6491,1587.5,62.170688,48.859760,3946.850874,...,0.009718,26859.0,3957,1,27,9,1,5125.0,2684,1

In [16]:
merged_left_4.to_csv("df_SAS.csv", encoding='utf-8', index=False)